# This docker compose definition will create application containers for all of
# the components of the task-tracker application
#
# Usage: docker-compose up --build

version: '3'
services:
  backend:
    build: .
    environment:
      - FLASK_DEBUG=1
      - FLASK_RUN_HOST=0.0.0.0
    command:
      poetry run flask run
    ports:
      - "127.0.0.1:80:5000"
    volumes:
      # mount the source into the container, but don't allow it to spill out any files
      - .:/task-tracker:ro
      # this ensures that in-image node_modules aren't hidden by the bind mount above
      - /task-tracker/node_modules
