# This docker compose definition will create application containers for all of
# the components of the task-tracker application
#
# Usage: docker-compose up --build

version: '3'
services:
  backend:
    build: .
    environment:
      - FLASK_DEBUG=1
      - FLASK_RUN_HOST=0.0.0.0
    entrypoint: poetry run flask run
    ports:
      - "127.0.0.1:80:5000"
    # Currently the entire project directory is exposed into the docker container as
    # a volume -- so any changes to code will be reflected in the container. (also
    # all build output of container will spill out into the project directory :-/) 
    #
    # A good idea for the future would be to only expose sources via a volume
    # into the container so that all build output remains isolated within the
    # container.
    volumes:
      - .:/task-tracker
      # this ensures that in-image node_modules aren't hidden by the bind mount
      - /task-tracker/node_modules
