$dark_grey: rgb(102, 102, 102);
$light_grey: rgb(153, 153, 153);

$button_color: #6e94b8;
$accent_background_color: #f2f2f2;

.whiteboard {
  width: 100%;
  font-family: system-ui;
  display: flex;
  flex-direction: column;

  .header {
    
    .breadcrumb {
      background-color: $accent_background_color;
    }

    h1 {
      font-size: 24px;
      text-align: center;
    }

    h2.column {
      font-size: 12px;
      color: $dark_grey;
      display: inline-block;
      text-align: center;
    }
  }
  .board {
    overflow: scroll;
    border-top: 1px solid $light_grey;
    border-collapse: collapse;
    
    .grandchild-count {
      background-color: $light_grey;
      color: white; // REFACT $inverse_text_color?
      padding: 0 8px;
      border-radius: 8px;
    }
  
    .task {
      width: 100%;
      position: relative;
  
      &.toggle-collapsed,
      &.is_done {
        height: 20px;
        overflow: hidden;
      }
      
      &.is_done.toggle-collapsed {
        height: 100%;
        overflow: default;
      }
      
      .col > .metadata {
        cursor: ns-resize;
      }
      
      .metadata {
        position: absolute;
        z-index: 100;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        text-shadow: white 0px 1px 0px;
  
        top: 0;
        left: 0;
        right: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
  
        display: flex;
  
        .flexspace {
          flex: auto;
        }
  
        .title {
          // display: none
          flex: 1;
          overflow: hidden;
          text-overflow: none;
          text-overflow: "-";
        }
  
        /* TODO switch to non absolute layout for the metadata bar and pull out unifications */
        .id {
          font-size: 10px;
          color: $dark_grey; // fix link color
          padding: 0px 2px;
        }
  
        .stats {
          color: $light_grey;
          margin-right: 10px;
        }
  
        .button {
          height: 14px;
          line-height: 10px;
          float: right;
          padding: 2px 3px;
          font-size: 12px;
          color: $button_color;
          box-shadow: inset 0px 0px 4px white;
          border: 1px solid transparent;
        }
  
        .button:hover {
          border: 1px solid #cdcdcd;
          box-shadow: inset 0px 0px 4px rgba($light_grey, 0.11);
        }
  
        .child-indicator::before {
          content: "…";
          width: 14px;
          height: 14px;
          line-height: 10px;
          position: absolute;
          top: 1px;
          right: 18px;
          padding: 2px 3px;
          font-size: 12px;
          color: $button_color;
        }
      }
      
      .status {
        min-height: 100px;
        border: 1px solid $light_grey;
        border-left: none;
        border-bottom: none;
        padding-top: 18px;
        padding-left: 2px;
        padding-right: 2px;
  
        &.new,
        &.done {
          background-color: $accent_background_color;
          // ensure to open a new stacking context, so the contained .metadata can be positioned correctly
          position: relative;
        }
  
        &.doing {
          background-color: white;
        }
  
        &.done .metadata {
          justify-content: end;
        }
      }
  
      .drag-container {
        width: 100%;
        min-height: 80px;
      }
  
      .subtask {
        display: inline-block;
        float: left;
        margin: 2px;
        height: 80px;
        width: 104px;
        cursor: move;
        border: 1px solid rgb(204, 204, 204);
        background-color: white;
        box-shadow: $light_grey 0px 1px 2px 0px;
        font-size: 12px;
        position: relative;
  
        padding-top: 20px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 15px;
  
        overflow: hidden;
  
        .metadata {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 18px;
          font-size: 10px;
          line-height: 18px;
          display: inline-block;
          width: 100%;
          background-color: $accent_background_color;
  
          .id {
            color: $dark_grey;
          }
        }
  
        > * {
          font-size: 12px;
          height: 36px;
          line-height: 18px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
  
        .contexts {
          color: $dark_grey;
          position: absolute;
          left: 5px;
          right: 5px;
          bottom: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
  
  }

}
