<html>
<head>
  <title>Fnord</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <!-- <script src="https://unpkg.com/vue"></script> -->
  <!-- <script src="./static/tt.js"></script> -->


</head>
<body>
  <textarea class="task-source">
{{ task.__str__() }}
  </textarea>
  <div id=whiteboard></div>
  
<!-- development version, includes helpful console warnings -->
<script src=/static/vendor/vue/vue.js></script>
<script src="/static/vendor/jquery/jquery.js"></script>
<script src="/static/vendor/Sortable.js"></script>
<script src="/static/vendor/vuedraggable.js"></script>

<!-- TODO localize dependency via vendorizing -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src=/static/vendor/sass.js/sass.js></script>

  
<style>
textarea {
  font-size: 13px;
  font-family: "Source Code Pro", monospace;
}

textarea.task-source {
  width: 100%;
  min-height: 300px;
}
</style>

<script type=module>
  // REFACT consider to allow only viewing either the text or the gui interface - tabbed style?
  // current plan is to do them separated one clasic one vue
  // maybe it would be better to do both views with vue?
  import whiteboard from '/static/whiteboard.js'
  
  const taskJSON = {{ task.json | tojson(indent=2) }}
  
  var app = new Vue({
    el: '#whiteboard',
    data: {
      task: taskJSON,
    },
    components: {
      'whiteboard': whiteboard,
    },
    template: '<whiteboard v-bind:rootTask=task></whiteboard>',
  })
  
</script>

<script>
  // @REFACT kann man das nicht mit protocoll relative link und server relativ link beschrieben? Oder geht das wegen dem Port nicht? --mh
	document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script>

</body>
</html>
